<div class="mycard">
    <div class="content">
        <div class="teamName">Team 1</div>
        <div class="line"></div>
        <div class="allCharts">
            <div >
                <div>Pantomime</div>
                <div class="chart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [labels]="chartOptions.labels"
                      [fill]="chartOptions.fill"
                      [dataLabels]="chartOptions.dataLabels"
                      [responsive]="chartOptions.responsive"
                    ></apx-chart>
                  </div>
            </div>
            <div>
                <div>Pictionary</div>
                <div class="chart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [labels]="chartOptions.labels"
                      [fill]="chartOptions.fill"
                      [dataLabels]="chartOptions.dataLabels"
                      [responsive]="chartOptions.responsive"
                    ></apx-chart>
                  </div>
            </div>
            <div>
                <div>Trivia</div>
                <div class="chart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [labels]="chartOptions.labels"
                      [fill]="chartOptions.fill"
                      [dataLabels]="chartOptions.dataLabels"
                      [responsive]="chartOptions.responsive"
                    ></apx-chart>
                  </div>
            </div>
        </div>
    </div>
</div>

