<div class="mycard">
    <div class="content">
        <div class="left">
            <div class="pictionary">
                <div class="teamName">Pictionary</div>
                <div class="line"></div>
                <div class="chart">
                    <apx-chart [series]="gamesScores[2].statistics" [chart]="chartOptions.chart"
                        [labels]="chartOptions.labels" [fill]="chartOptions.fill" [dataLabels]="chartOptions.dataLabels"
                        [responsive]="chartOptions.responsive"></apx-chart>
                </div>
            </div>
            <div class="pantomime">
                <div class="teamName">Pantomime</div>
                <div class="line"></div>
                <div class="chart">
                    <apx-chart [series]="gamesScores[0].statistics" [chart]="chartOptions.chart"
                        [labels]="chartOptions.labels" [fill]="chartOptions.fill" [dataLabels]="chartOptions.dataLabels"
                        [responsive]="chartOptions.responsive"></apx-chart>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="trivia">
                <div class="teamName">Trivia</div>
                <div class="line"></div>
                <div class="chart">
                    <apx-chart [series]="gamesScores[1].statistics" [chart]="chartOptions.chart"
                        [labels]="chartOptions.labels" [fill]="chartOptions.fill" [dataLabels]="chartOptions.dataLabels"
                        [responsive]="chartOptions.responsive"></apx-chart>
                </div>
            </div>
        </div>

    </div>
</div>