<div style="display: flex;
flex-direction:column;
justify-content: space-evenly;
height: 590px;
margin-left: 50px;z-index: 2000;
    position: relative;">
<div>
   <div class='currentPlayer'>
    {{currentTeamName}}, it's your turn to play!
</div> 
<div class='nextPlayer'>
    Next up is “BoFunners”...
</div>
</div>

    <div class="table-container" [ngStyle]="{width:120 + 200*game.teams.length + 'px'}">
        <table>
            <thead>
                <tr>
                    <th class="roundHeader"></th>
                    <th class="header" *ngFor="let name of teamNames; index as i">{{name}}</th>
                </tr>
            </thead>
            <!-- el:brush -->
            <tr *ngFor="let round of groupedRounds; index as i">
                <td class="round">Round {{i+1}} </td>
                <td class="rest" *ngFor="let game of toArray(round);">
                    <div *ngIf="game.team!==-1" style="display: flex;align-items: center;justify-content: space-evenly;">
                        <div style="display: flex;align-items: center;width: 70%;">
                            <span class="iconify pen" style="width: 20px;height:20px" [ngStyle]="icons[game.minigame].style" [attr.data-icon]="icons[game.minigame].class"></span>
                        <div>{{getMiniGameName(game.minigame)}}</div>
                        </div>
                        
                        <div style="width: 15px;
                    height: 15px;border-radius:50%; background-color:red"
                            [ngStyle]="{backgroundColor : !game.ended ? 'gray' : (game.victory ? 'rgba(59, 183, 39, 1)' : 'red')}">

                        </div>
                    </div>


                </td>
                <div *ngIf="i===groupedRounds.length-1">
                    <td *ngFor="let cell of emptyCells;"></td>
                </div>
            </tr>

        </table>
    </div>
</div>