<div class="mycard">
    <div class="content">
        <div class="teamName">{{playerScores.teamName}}</div>
        <div class="line"></div>
        <div class="bestField">
            <div class="title">
                Best Overall:
            </div>
            <div class="player" *ngFor="let player of playerScores.bestOverall">
                <span style="width: 23px;
        height: 23px;color:black;margin-right:5px" class="iconify user-avatar"
                data-icon="carbon:user-avatar-filled"></span>
                <div class="playerName">{{player.username}}</div>
            </div>

        </div>
        <div class="bestField" *ngFor="let miniGame of playerScores.miniGames">
            <div class="title">
                Best at {{getMiniGameName(miniGame.miniGameId)}}:
            </div>
            <div class="player" *ngFor="let player of miniGame.bestPlayers">
                <span style="width: 23px;
        height: 23px;color:black;margin-right:5px" class="iconify user-avatar"
                data-icon="carbon:user-avatar-filled"></span>
                <div class="playerName">{{player.username}}</div>
            </div>

        </div>
        <!-- <div class="bestField">
            <div class="title">
                Best at Pictionary:
            </div>
            <div class="player">
                <span style="width: 23px;
        height: 23px;color:black;margin-right:5px" class="iconify user-avatar"
                data-icon="carbon:user-avatar-filled"></span>
                <div class="playerName">Alexandra Alexandridi</div>
            </div>

        </div>
        <div class="bestField">
            <div class="title">
                Best at Trivia:
            </div>
            <div class="player">
                <span style="width: 23px;
        height: 23px;color:black;margin-right:5px" class="iconify user-avatar"
                data-icon="carbon:user-avatar-filled"></span>
                <div class="playerName">Alexandra Alexandridi</div>
            </div>

        </div> -->
    </div>
</div>
