<div class="mycard">
    <div class="content">
        <div class="teamName">Team 1</div>
        <div class="line"></div>
        <div class="bestField">
            <div class="title">
                Best Overall:
            </div>
            <div class="player">
                <span style="width: 23px;
        height: 23px;color:black;margin-right:5px" class="iconify user-avatar"
                data-icon="carbon:user-avatar-filled"></span>
                <div class="playerName">Alexandra Alexandridi</div>
            </div>

        </div>
        <div class="bestField">
            <div class="title">
                Best at Pantomime:
            </div>
            <div class="player">
                <span style="width: 23px;
        height: 23px;color:black;margin-right:5px" class="iconify user-avatar"
                data-icon="carbon:user-avatar-filled"></span>
                <div class="playerName">Alexandra Alexandridi</div>
            </div>

        </div>
        <div class="bestField">
            <div class="title">
                Best at Pictionary:
            </div>
            <div class="player">
                <span style="width: 23px;
        height: 23px;color:black;margin-right:5px" class="iconify user-avatar"
                data-icon="carbon:user-avatar-filled"></span>
                <div class="playerName">Alexandra Alexandridi</div>
            </div>

        </div>
        <div class="bestField">
            <div class="title">
                Best at Trivia:
            </div>
            <div class="player">
                <span style="width: 23px;
        height: 23px;color:black;margin-right:5px" class="iconify user-avatar"
                data-icon="carbon:user-avatar-filled"></span>
                <div class="playerName">Alexandra Alexandridi</div>
            </div>

        </div>
    </div>
</div>
