<div class="mobile-container" style="display: flex;flex-direction: column;">
    <div style="height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;">
        <img id="logo" style="height: 20%;" src="assets/logo.png" alt="logo">
    </div>
    
    <div class="footer">
        <div class="content">
            <div class="title">It’ s not your turn to play...</div>
            <div class="sub-title">You can do the following:</div>
            <div class="buttons">
                <div class="mobileButton idleButton">How to play</div>
                <div class="mobileButton idleButton">About us</div>
                <div class="mobileButton idleButton" style="background: linear-gradient(180deg, #DB625E 0%, #E5716D 100%);">Quit</div>
            </div>
        </div>

    </div>
</div>

