.myNavbar {
  height: 65px;
  width: 100%;
//   background: rgba(255, 255, 255, 0.05);
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
    position: relative;
}

.black{
  position: absolute;
  width: 100%;
  height: 100%;
  // background: black;
  z-index: 1;
  animation-duration: 2s;
  animation-name: blackTransition;
  animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: forwards;
}

#current_date_time {
//   font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  flex-direction: column;
}

.circleEnd {
  animation-duration: 4s;
  animation-name: changewidthEndGame;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: black;
}

.endGameTitle {
  animation-duration: 2s;
  animation-name: appearTitle;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  position: relative;
}

.endGameSubTitle {
animation-duration: 2s;
animation-name: appearSubTitle;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: forwards;
animation-delay: 2s;
position: relative;
}

.appear {
animation-duration: 2s;
animation-name: appear;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: forwards;
animation-delay: 2s;
}

.endGame {
position: absolute;
display: flex;
width: 0px;
height: 0px;
border-radius: 50%;
// background: linear-gradient(180deg, #db625e 0%, #e5716d 100%);
justify-content: center;
align-items: center;
flex-direction: column;
font-size: 0px;
z-index: 100;
}

.blackTransition {
  animation-duration: 2s;
  animation-name: changewidthEndGame;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: black;
}

@keyframes blackTransition {
  from {
    //   transform: scale(0);
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background: #333737;
    // font-family: "Roboto";
    
  }
}


@keyframes appear {
  from {
    //   transform: scale(0);
    width: 0px;
    height: 0px;
    font-size: 0px;
  }

  to {
    width: 800px;
    height: 800px;
    // font-family: "Roboto";
    
  }
}
@keyframes appearTitle {
    from {
      //   transform: scale(0);
      font-size: 0px;
    }
  
    to {
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        // line-height: 117px;
        // display: flex;
        // align-items: center;
        // text-align: center;
        // letter-spacing: -0.02em;
    }
  }
@keyframes appearSubTitle {
  from {
    //   transform: scale(0);
    font-size: 0px;
  }

  to {
    // font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    // line-height: 82px;
    // display: flex;
    // align-items: center;
    // text-align: center;
    // letter-spacing: -0.02em;
  }
}

@keyframes changewidthEndGame {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.7);
  }
}
