<div class="myContainer mobile-container">
    <div class="content">
        <div class="clock">
            <div class="time">0{{minutes}} : {{Math.trunc(seconds/10)===0 ? '0'+seconds : seconds}}</div>
        </div>
        <div class="question">{{gameInfo.question}}</div>
        <app-trivia-option *ngFor="let option of gameInfo.options; index as i" [text]="option" [index]="i" [options]="options"></app-trivia-option>
        <div class="mobileButton" (click)="checkAnswer()" [ngStyle]="{background: optionIsSelected() ? 'linear-gradient(180deg, #4128F9 0%, #482FFF 100%)' : 'linear-gradient(0deg, #A498FF, #A498FF)',marginTop: '10%'}">
            Lock Answer
        </div>
    </div>

</div>