<div class="myContainer">
    <div class="playerStatistics">
        <div class="title">Player Statistics</div>
        <div class="cards">
            <app-player-statistics-card></app-player-statistics-card>
        <app-player-statistics-card></app-player-statistics-card>
        <app-player-statistics-card></app-player-statistics-card>
        </div>
        
    </div>
    <div class="teamStatistics">
        <div class="title">Team Statistics</div>
        <div class="cards">
            <app-team-statistics-card></app-team-statistics-card>
            <app-team-statistics-card></app-team-statistics-card>
            <app-team-statistics-card></app-team-statistics-card>
            <app-team-statistics-card></app-team-statistics-card>
        </div>
        
        
    </div>
    <div class="gameStatistics">
        <div class="title">Game Statistics</div>
        <div>
            <app-game-statistics-card></app-game-statistics-card>
        </div>
    </div>
</div>
