<div class="card">
    <div>
        <span [ngStyle]="{backgroundColor: team.color}" class="iconify team-icon"
            data-icon="fluent:people-team-16-filled"></span>
        <div class="team-name">{{team.name}}</div>
    </div>
    <div class="players">
        <div class="player-info" *ngFor="let player of teamPlayers">
            <span *ngIf="player.image===''" style="width: 20px;
        height: 20px;color:black;margin-right:5px" class="iconify user-avatar"
                data-icon="carbon:user-avatar-filled"></span>
            <img *ngIf="player.image!==''" src="{player.image}" alt="">
            <div>{{player.username}}</div>
        </div>
    </div>


    <div class="join-button">Join</div>

</div>