<div class="myContainer">
    <div class="circle">
        <div class="timer">
            01 : 00
        </div>
    </div>
    <div class="description">
        <div> <span class="bolder">Team 1</span>, it’s time to play <span class="bolder">Trivia</span>!
        </div>
        <div style="margin-top: 7px;">Choose the correct answer. The clock is ticking...
        </div>
    </div>
    <div class="questionContainer">
        <div class="content">
            <div class="question">From which Shakespeare play is the line 'Now is the winter of our discontent'?</div>
            <div class="options">
                <div class="top">
                    <div class="option left">
                        <div class="order">
                            <div class="alphabet">
                                A
                            </div>
                        </div>
                        <div class="text">LALALA</div>
                    </div>
                    <div class="option right">
                        <div class="order">
                            <div class="alphabet">
                                B
                            </div>
                        </div>
                        <div class="text">LALALA</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="option left">
                        <div class="order">
                            <div class="alphabet">
                                C
                            </div>
                        </div>
                        <div class="text">LALALA</div>
                    </div>
                    <div class="option right">
                        <div class="order">
                            <div class="alphabet">
                                D
                            </div>
                        </div>
                        <div class="text">LALALA</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>