.myContainer {
  height: 590px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  position: absolute;
  //   font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  left: 20px;
  top: 13px;
  width: 35%;
}

.bolder {
  font-weight: 700;
}

.questionContainer {
  background: linear-gradient(0deg, #1c2020 0%, #2b2f2f 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  transform: rotate(-180deg);
  padding: 48px 36px;
  display: flex;
  position: absolute;
  width: 70%;
}

.content {
  transform: rotate(-180deg);
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* Beige */

  color: #f9f8f2;
  margin-bottom: 35px;
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top,
.bottom,
.option {
  display: flex;
  align-items: center;
  height: 100%;
  
}

.option{
    width: 49.8%;
}

.order {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  width: 54px;
  height: 54px;

  /* Red */

  background: linear-gradient(180deg, #db625e 0%, #e5716d 100%);
  margin-right: 17px;
}

.alphabet{
    background: radial-gradient(50% 50% at 50% 50%, #1C2020 0%, #2B2F2F 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* Beige */

  color: #f9f8f2;

  width: 90%;
}


.top, .bottom{
    width: 100%;
    justify-content: space-between;
}
.left,.right{
    padding: 10px;
}

.top .left{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px 0px 0px 0px;
    
}

.top .right{
    border-radius: 0px 30px 0px 0px;
    background: rgba(255, 255, 255, 0.1);
}

.bottom .left{
    background: rgba(255, 255, 255, 0.1);
border-radius: 0px 0px 0px 30px;
}

.bottom .right{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px 0px 30px 0px;
}

.top{
    margin-bottom: 5px;
}


.circle {
    border-radius: 50%;
    background: linear-gradient(180deg, #4128f9 0%, #482fff 100%);
    z-index: -1;
  
    position: absolute;
    width: 344px;
    height: 344px;
    left: 1681px;
    top: -168px;
  }
  
  .timer {
    position: absolute;
    left: 60px;
    top: 185px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.02em;
  }

  




  .circleEnd {
    animation-duration: 2s;
    animation-name: changewidthEndGame;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: black;
  }
  
  .endGameTitle {
    animation-duration: 2s;
    animation-name: appearTitle;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    position: relative;
  }
  
  .endGameSubTitle {
  animation-duration: 2s;
  animation-name: appearSubTitle;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  position: relative;
  }
  
  .appear {
  animation-duration: 2s;
  animation-name: appear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  }
  
  .endGame {
  position: absolute;
  display: flex;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  // background: linear-gradient(180deg, #db625e 0%, #e5716d 100%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0px;
  z-index: 100;
  }
  
  
  @keyframes appear {
    from {
      //   transform: scale(0);
      width: 0px;
      height: 0px;
      font-size: 0px;
    }
  
    to {
      width: 800px;
      height: 800px;
      // font-family: "Roboto";
      
    }
  }
  @keyframes appearTitle {
      from {
        //   transform: scale(0);
        font-size: 0px;
      }
    
      to {
          font-style: normal;
          font-weight: 700;
          font-size: 100px;
          // line-height: 117px;
          // display: flex;
          // align-items: center;
          // text-align: center;
          // letter-spacing: -0.02em;
      }
    }
  @keyframes appearSubTitle {
    from {
      //   transform: scale(0);
      font-size: 0px;
    }
  
    to {
      // font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 70px;
      // line-height: 82px;
      // display: flex;
      // align-items: center;
      // text-align: center;
      // letter-spacing: -0.02em;
    }
  }
  
  @keyframes changewidthEndGame {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(0.7);
    }
  }
  