<div class="myContainer" (click)="startGame()">
    <div class="description">
        <div> <span class="bolder">{{team}}</span>, it’s time to play <span class="bolder">Pantomime</span>!
        </div>
        <div style="margin-top: 7px;">The category is <span class="bolder">“{{category}}”</span>. The clock is ticking...
        </div>
    </div>
    <div class="center">
        
        <div
            [ngClass]="{'outer-circle': true, 'loseTimer': round.ended === true, 'startGame': round.started === true }">

        </div>
        <div [ngClass]="{'circle': true, 'loseTimer': round.started === true && round.ended === true}">
            <div class="timer">
                0{{minutes}} : {{Math.trunc(seconds/10)===0 ? '0'+seconds : seconds}}
            </div>
        </div>

        <!-- <div *ngIf="round.started === true && round.ended === true && round.victory===false"
            [ngClass]="{'endGame': true, 'appear circleEnd': round.started === true && round.ended === true}">
            <div [ngClass]="{'endGameTitle': round.started === true && round.ended === true}">
                You' ve lost!
            </div>
            <div *ngIf="round.remainingTime===0" [ngClass]="{'endGameSubTitle': round.started === true && round.ended === true}">
                Time' s up
            </div>
        </div> -->

        <div *ngIf="round.ended === true" [ngStyle]="{background: !round.victory ? 'linear-gradient(180deg, #db625e 0%, #e5716d 100%)' : 'linear-gradient(180deg, #317165 0%, #387C68 100%)'}"
            [ngClass]="{'endGame': true, 'appear circleEnd': round.started === true }">
            <div [ngClass]="{'endGameTitle': round.started === true}" [ngStyle]="{color: round.victory ? 'white' : 'black'}">
                {{round.victory ? "You' ve won!" : "You' ve lost!"}}
            </div>
            <div *ngIf="round.remainingTime===0" [ngClass]="{'endGameSubTitle': round.started === true && round.ended === true}">
                Time' s up
            </div>
        </div>
    </div>


</div>