<div class="myContainer" >
    <div class="description">
        <div> <span class="bolder">{{teamName}}</span>, it’s time to play <span class="bolder">pictionary</span>!
        </div>
        <div style="margin-top: 7px;">Guess the topic based on the drawing. The clock is ticking...
        </div>
    </div>
    <div class="circle">
        <div class="timer">
            0{{minutes}} : {{Math.trunc(seconds/10)===0 ? '0'+seconds : seconds}}
        </div>
    </div>
    <div 
    style="width: 80%;
    height: 70%;
    position: absolute;
    top: 165px;
    left: 20px; z-index: -2;">
        <svg
            left="0"
            height="100%"
            width ="auto"
            viewBox="0 0 1920 1080"
            preserveAspectRatio="xMinYMid meet"
            [innerHTML] = "this.sanitizer.bypassSecurityTrustHtml(pictureSVG)"
        >
        </svg>
    </div>
    <div *ngIf="(round!==undefined && round!==null) && round.ended === true" [ngStyle]="{background: (round!==undefined && round!==null) && !round.victory ? '#E73334' : '#1EC251'}"
            [ngClass]="{'endGame': true, 'appear circleEnd': round.started === true }">
        <div [ngClass]="{'endGameTitle': round.started === true}" [ngStyle]="{color: 'white'}">
            {{round.victory ? "You' ve won!" : "You' ve lost!"}}
        </div>
        <div [ngStyle]="{color: 'white'}" *ngIf="round.remainingTime===0" [ngClass]="{'endGameSubTitle': round.started === true && round.ended === true}">
            Time' s up
        </div>
    </div>


</div>
